@{
    ViewData["Title"] = "ShoppingCart";
}

<!DOCTYPE html>
<html>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<body>


    <div class="container" style="padding-top:5%">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table style="color:black" class="table">
                    <thead>
                        <tr style="color:black">
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <span id="userName" style="display:none">@UserManager.GetUserName(User)</span>
                    <tbody id="cartProducts">
                        @foreach (var cartProducts in ViewBag.cartProducts)
                        {
                            @if (@cartProducts.CartName == @UserManager.GetUserName(User))
                            {
                                <tr>
                                    <th>@cartProducts.ProductName</th>
                                    <th>@cartProducts.Quantity</th>
                                    <th>@cartProducts.ProductPrice</th>
                                    <th><button class="add-cart-button btn btn-danger" onclick="RemoveFromCart(@cartProducts.ProductName)">X</button></th>
                                </tr>
                            }
                        }
                    </tbody>

                    <tfoot>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h3 id="totalAmount">Total : </h3></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Checkout">
                                    Checkout <span class="glyphicon glyphicon-play"></span>
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>


</body>

</html>

